.backDiv {
  margin: 0%;
  padding: 0%;
  background-color: darkgrey;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}

.quizDiv {
  background-color: lightgray;
  width: 500px;
  height: 400px;
  margin-left: 30%;
  margin-top: 5%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div#qTitle {
  display: flex;
  /* margin: 0px; */
}
h3#qTitle {
  margin-left: 3%;
  background: black;
  color: white;
  height: 70px;
  align-items: center;
}
ul {
  list-style-type: none;
  padding: 10%;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}
